# General
.DS_Store
.idea/
.vscode/
*.log

# PHP
php-sdk/vendor/
php-sdk/composer.lock

# Python
python-sdk/__pycache__/
python-sdk/*.pyc
python-sdk/build/
python-sdk/dist/
python-sdk/*.egg-info/
python-sdk/venv/
python-sdk/.pytest_cache/
